force-app/main/default/flows/BoxAI_Flow_Template.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_AI_Request</name>
        <label>Send AI Request</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>BoxAiFlowAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>boxAccessToken</name>
            <value>
                <elementReference>BoxAccessToken</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>boxAiItemCollection</name>
            <value>
                <elementReference>BoxAiItemCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>boxAiMode</name>
            <value>
                <elementReference>BoxAI_Mode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>boxAiPrompt</name>
            <value>
                <elementReference>BoxAI_Prompt</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isAnswerStreamed</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>BoxAiFlowAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Set_BoxAI_Items</name>
        <label>Set BoxAI Items</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>BoxAiItem.itemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Box_File_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BoxAiItem.itemType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>file</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BoxAiItemCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BoxAiItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_AI_Request</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>MultipleItemQA</name>
        <choiceText>Multiple Item QA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>multiple_item_qa</stringValue>
        </value>
    </choices>
    <choices>
        <name>SingleItemQA</name>
        <choiceText>﻿Single Item QA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>single_item_qa</stringValue>
        </value>
    </choices>
    <choices>
        <name>TextGen</name>
        <choiceText>Text Gen</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>text_gen</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <interviewLabel>BoxAI Flow Template {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>BoxAI Flow Template</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>BoxAI_Sample</name>
        <label>BoxAI Sample</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_BoxAI_Items</targetReference>
        </connector>
        <fields>
            <name>BoxAI_Mode</name>
            <choiceReferences>SingleItemQA</choiceReferences>
            <choiceReferences>MultipleItemQA</choiceReferences>
            <choiceReferences>TextGen</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>SingleItemQA</defaultSelectedChoiceReference>
            <fieldText>BoxAI Mode</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BoxAI_Prompt</name>
            <defaultValue>
                <stringValue>Describe this document.</stringValue>
            </defaultValue>
            <fieldText>BoxAI Prompt</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Box_File_ID</name>
            <dataType>String</dataType>
            <fieldText>Box File ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>BoxAI_Sample</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>BoxAccessToken</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Gfxw5yx2wgQCQQ2gFIRkgSOdQgwBirVz</stringValue>
        </value>
    </variables>
    <variables>
        <name>BoxAiItem</name>
        <apexClass>BoxAiItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BoxAiItemCollection</name>
        <apexClass>BoxAiItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
